body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#calculatorContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
#result{
    width: 300px;
    height: 100px;
    background-color: aliceblue;
}