body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#calculatorContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
#resultContainer{
    width: 300px;
    height: 100px;
    background-color: aliceblue;
    display: flex;
    justify-content: end;
    align-items: center;
}
#result{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 25px;
}